<form class="add-course-form" (ngSubmit)="save()">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Title"
      [(ngModel)]="courseTitle"
      name="title">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Description"
      [(ngModel)]="courseDescription"
      name="description"></textarea>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker"
      placeholder="Date"
      [(ngModel)]="courseDate"
      name="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div class="duration-field">
    <mat-form-field class="example-full-width">
      <input matInput type="number"
        placeholder="Duration (min)"
        [(ngModel)]="courseDuration"
        name="duration">
    </mat-form-field>
    <span class="duration-filtred">{{courseDuration | duration}}</span>
  </div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Authors" [(ngModel)]="courseAuthors" name="authors">
  </mat-form-field>
  <div class="add-course-btns">
    <button mat-raised-button color="primary" class="add-course-btn" type="submit">Save</button>
    <button mat-raised-button color="warn" (click)="close()" class="close-add-page">Cancel</button>
  </div>
</form>
