
.toolbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.btn-add-course{
  min-width: 130px;
  max-width: 300px;
  width: 100%;
  height: 40px;
  margin-right: 10px;
}

.search-form {
  min-width: 150px;
  max-width: 400px;
  width: 100%;
  display: flex;
  position: relative;
}

.search-full-width {
  width: 100%;
}
.search-input{
  padding-right: 40px;
  box-sizing: border-box;
  }

.icon-search{
    width: 30px;
    height: 30px;
}
.btn-search{
  position: absolute;
  right: 0;
  top: 5px;
}
