:host {
    width: 100%;
    border-top: 1px solid #DDDDDD;
    background-color: #F9F9F9;
}

.footer-container {
    display: flex;
    justify-content: center;
}

.footer-text {
    line-height: 45px;
}
